variable "project_prefix" {
  type        = string
  description = "prefix string put in front of string"
  default     = "f5xc"
}

variable "project_suffix" {
  type        = string
  description = "prefix string put at the end of string"
  default     = "01"
}

variable "f5xc_api_p12_file" {
  type    = string
}

variable "f5xc_api_url" {
  type    = string
}

variable "f5xc_tenant" {
  type    = string
}


locals {
  node0_single_nic_local_subnet   = format("%s-aws-subnet-node0-single-nic-inside-%s", var.project_prefix, var.project_suffix)
  node1_single_nic_local_subnet   = format("%s-aws-subnet-node1-single-nic-outside-%s", var.project_prefix, var.project_suffix)
  node2_single_nic_local_subnet   = format("%s-aws-subnet-node2-single-nic-workload-%s", var.project_prefix, var.project_suffix)
  node0_multi_nic_inside_subnet   = format("%s-aws-subnet-node0-multi-nic-inside-%s", var.project_prefix, var.project_suffix)
  node0_multi_nic_outside_subnet  = format("%s-aws-subnet-node0-multi-nic-outside-%s", var.project_prefix, var.project_suffix)
  node0_multi_nic_workload_subnet = format("%s-aws-subnet-node0-multi-nic-workload-%s", var.project_prefix, var.project_suffix)
  node1_multi_nic_inside_subnet   = format("%s-aws-subnet-node1-multi-nic-inside-%s", var.project_prefix, var.project_suffix)
  node1_multi_nic_outside_subnet  = format("%s-aws-subnet-node1-multi-nic-outside-%s", var.project_prefix, var.project_suffix)
  node1_multi_nic_workload_subnet = format("%s-aws-subnet-node1-multi-nic-workload-%s", var.project_prefix, var.project_suffix)
  node2_multi_nic_inside_subnet   = format("%s-aws-subnet-node2-multi-nic-inside-%s", var.project_prefix, var.project_suffix)
  node2_multi_nic_outside_subnet  = format("%s-aws-subnet-node2-multi-nic-outside-%s", var.project_prefix, var.project_suffix)
  node2_multi_nic_workload_subnet = format("%s-aws-subnet-node2-multi-nic-workload-%s", var.project_prefix, var.project_suffix)
}

module "aws_vpc_single_nic_existing_subnets" {
  source             = "./modules/aws/vpc"
  aws_az_name        = "us-east-2a"
  aws_region         = "us-east-2"
  aws_vpc_cidr_block = "172.16.40.0/21"
  aws_vpc_name       = format("%s-aws-vpc-single-nic-existing-subnets-%s", var.project_prefix, var.project_suffix)
  custom_tags        = {
    Name  = format("%s-aws-vpc-%s", var.project_prefix, var.project_suffix)
    Owner = "c.klewar@f5.com"
  }
}

module "aws_vpc_multi_nic_existing_subnet" {
  source             = "./modules/aws/vpc"
  aws_az_name        = "us-east-2a"
  aws_region         = "us-east-2"
  aws_vpc_cidr_block = "172.16.48.0/20"
  aws_vpc_name       = format("%s-aws-vpc-multi-nic-existing-subnet-%s", var.project_prefix, var.project_suffix)
  custom_tags        = {
    Name  = format("%s-aws-vpc-%s", var.project_prefix, var.project_suffix)
    Owner = "c.klewar@f5.com"
  }
}

provider "aws" {
  region = "us-east-2"
  alias  = "us-east-2"
}

module "aws_subnet_single_nic_existing_subnets" {
  source          = "./modules/aws/subnet"
  aws_vpc_id      = module.aws_vpc_single_nic_existing_subnets.aws_vpc["id"]
  aws_vpc_subnets = [
    {
      name                    = local.node0_single_nic_local_subnet
      map_public_ip_on_launch = true
      cidr_block              = "172.16.40.0/24"
      availability_zone       = "us-east-2a"
      custom_tags             = {
        Name  = local.node0_single_nic_local_subnet
        Owner = "c.klewar@f5.com"
      }
    },
    {
      name                    = local.node1_single_nic_local_subnet
      map_public_ip_on_launch = true
      cidr_block              = "172.16.41.0/24"
      availability_zone       = "us-east-2a"
      custom_tags             = {
        Name  = local.node1_single_nic_local_subnet
        Owner = "c.klewar@f5.com"
      }
    },
    {
      name                    = local.node2_single_nic_local_subnet
      map_public_ip_on_launch = true
      cidr_block              = "172.16.42.0/24"
      availability_zone       = "us-east-2a"
      custom_tags             = {
        Name  = local.node2_single_nic_local_subnet
        Owner = "c.klewar@f5.com"
      }
    }
  ]
  custom_tags = {
    Owner = "c.klewar@f5.com"
  }

  providers = {
    aws = aws.us-east-2
  }
}

module "aws_subnet_multi_nic_existing_subnet" {
  source          = "./modules/aws/subnet"
  aws_vpc_id      = module.aws_vpc_multi_nic_existing_subnet.aws_vpc["id"]
  aws_vpc_subnets = [
    {
      name                    = local.node0_multi_nic_inside_subnet
      map_public_ip_on_launch = true
      cidr_block              = "172.16.48.0/24"
      availability_zone       = "us-east-2a"
      custom_tags             = {
        Name  = local.node0_multi_nic_inside_subnet
        Owner = "c.klewar@f5.com"
      }
    },
    {
      name                    = local.node0_multi_nic_outside_subnet
      map_public_ip_on_launch = true
      cidr_block              = "172.16.49.0/24"
      availability_zone       = "us-east-2a"
      custom_tags             = {
        Name  = local.node0_multi_nic_outside_subnet
        Owner = "c.klewar@f5.com"
      }
    },
    {
      name                    = local.node0_multi_nic_workload_subnet
      map_public_ip_on_launch = true
      cidr_block              = "172.16.50.0/24"
      availability_zone       = "us-east-2a"
      custom_tags             = {
        Name  = node0_multi_nic_workload_subnet
        Owner = "c.klewar@f5.com"
      }
    },
    {
      name                    = local.node1_multi_nic_inside_subnet
      map_public_ip_on_launch = true
      cidr_block              = "172.16.51.0/24"
      availability_zone       = "us-east-2a"
      custom_tags             = {
        Name  = local.node1_multi_nic_inside_subnet
        Owner = "c.klewar@f5.com"
      }
    },
    {
      name                    = local.node1_multi_nic_outside_subnet
      map_public_ip_on_launch = true
      cidr_block              = "172.16.52.0/24"
      availability_zone       = "us-east-2a"
      custom_tags             = {
        Name  = local.node1_multi_nic_outside_subnet
        Owner = "c.klewar@f5.com"
      }
    },
    {
      name                    = local.node1_multi_nic_workload_subnet
      map_public_ip_on_launch = true
      cidr_block              = "172.16.53.0/24"
      availability_zone       = "us-east-2a"
      custom_tags             = {
        Name  = local.node1_multi_nic_workload_subnet
        Owner = "c.klewar@f5.com"
      }
    },
    {
      name                    = local.node2_multi_nic_inside_subnet
      map_public_ip_on_launch = true
      cidr_block              = "172.16.54.0/24"
      availability_zone       = "us-east-2a"
      custom_tags             = {
        Name  = local.node2_multi_nic_inside_subnet
        Owner = "c.klewar@f5.com"
      }
    },
    {
      name                    = local.node2_multi_nic_outside_subnet
      map_public_ip_on_launch = true
      cidr_block              = "172.16.55.0/24"
      availability_zone       = "us-east-2a"
      custom_tags             = {
        Name  = local.node2_multi_nic_outside_subnet
        Owner = "c.klewar@f5.com"
      }
    },
    {
      name                    = local.node2_multi_nic_workload_subnet
      map_public_ip_on_launch = true
      cidr_block              = "172.16.56.0/24"
      availability_zone       = "us-east-2a"
      custom_tags             = {
        Name  = local.node2_multi_nic_workload_subnet
        Owner = "c.klewar@f5.com"
      }
    }
  ]
  custom_tags = {
    Owner = "c.klewar@f5.com"
  }

  providers = {
    aws = aws.us-east-2
  }
}

/*module "aws_vpc_multi_node_single_nic_new_subnet" {
  source                          = "./modules/f5xc/site/aws/vpc"
  f5xc_api_p12_file               = var.f5xc_api_p12_file
  f5xc_api_url                    = var.f5xc_api_url
  f5xc_namespace                  = "system"
  f5xc_tenant                     = var.f5xc_tenant
  f5xc_aws_region                 = "us-east-2"
  f5xc_aws_cred                   = "ck-aws-01"
  f5xc_aws_vpc_site_name          = format("%s-vpc-multi-node-single-nic-%s", var.project_prefix, var.project_suffix)
  f5xc_aws_vpc_name_tag           = format("%s-vpc-multi-node-multi-nic-%s", var.project_prefix, var.project_suffix)
  f5xc_aws_vpc_primary_ipv4       = "192.168.168.0/21"
  f5xc_aws_vpc_total_worker_nodes = 2
  f5xc_aws_ce_gw_type             = "single_nic"
  f5xc_aws_vpc_az_nodes           = {
    node0 = { f5xc_aws_vpc_local_subnet = "192.168.168.0/26", f5xc_aws_vpc_az_name = "us-east-2a" },
    node1 = { f5xc_aws_vpc_local_subnet = "192.168.169.0/26", f5xc_aws_vpc_az_name = "us-east-2a" },
    node2 = { f5xc_aws_vpc_local_subnet = "192.168.170.0/26", f5xc_aws_vpc_az_name = "us-east-2a" }
  }

  f5xc_aws_default_ce_os_version       = true
  f5xc_aws_default_ce_sw_version       = true
  f5xc_aws_vpc_no_worker_nodes         = false
  f5xc_aws_vpc_use_http_https_port     = true
  f5xc_aws_vpc_use_http_https_port_sli = true
  f5xc_labels                          = { "aws-env" = "shared" }
  public_ssh_key                       = "ssh-rsa xyz"
  custom_tags                          = {
    Owner = "c.klewar@f5.com"
  }
}*/

/*module "aws_vpc_multi_node_multi_nic_new_subnet" {
  source                          = "./modules/f5xc/site/aws/vpc"
  f5xc_api_p12_file               = var.f5xc_api_p12_file
  f5xc_api_url                    = var.f5xc_api_url
  f5xc_namespace                  = "system"
  f5xc_tenant                     = var.f5xc_tenant
  f5xc_aws_region                 = "us-east-2"
  f5xc_aws_cred                   = "ck-aws-01"
  f5xc_aws_vpc_site_name          = format("%s-vpc-multi-node-multi-nic-%s", var.project_prefix, var.project_suffix)
  f5xc_aws_vpc_name_tag           = format("%s-vpc-multi-node-multi-nic-%s", var.project_prefix, var.project_suffix)
  f5xc_aws_vpc_primary_ipv4       = "192.168.168.0/21"
  f5xc_aws_vpc_total_worker_nodes = 2
  f5xc_aws_ce_gw_type             = "multi_nic"
  f5xc_aws_vpc_az_nodes           = {
    node0 = {
      f5xc_aws_vpc_workload_subnet = "192.168.168.0/26", f5xc_aws_vpc_inside_subnet = "192.168.168.64/26",
      f5xc_aws_vpc_outside_subnet  = "192.168.168.128/26", f5xc_aws_vpc_az_name = "us-east-2a"
    },
    node1 = {
      f5xc_aws_vpc_workload_subnet = "192.168.169.0/26", f5xc_aws_vpc_inside_subnet = "192.168.169.64/26",
      f5xc_aws_vpc_outside_subnet  = "192.168.169.128/26", f5xc_aws_vpc_az_name = "us-east-2a"
    },
    node2 = {
      f5xc_aws_vpc_workload_subnet = "192.168.170.0/26", f5xc_aws_vpc_inside_subnet = "192.168.170.64/26",
      f5xc_aws_vpc_outside_subnet  = "192.168.170.128/26", f5xc_aws_vpc_az_name = "us-east-2a"
    }
  }
  f5xc_aws_default_ce_os_version       = true
  f5xc_aws_default_ce_sw_version       = true
  f5xc_aws_vpc_no_worker_nodes         = false
  f5xc_aws_vpc_use_http_https_port     = true
  f5xc_aws_vpc_use_http_https_port_sli = true
  f5xc_labels                          = { "aws-env" = "shared" }
  public_ssh_key                       = "ssh-rsa xyz"
  custom_tags                          = {
    Owner = "c.klewar@f5.com"
  }
}*/




module "f5xc_aws_vpc_multi_node_single_nic_existing_subnets" {
  source                          = "./modules/f5xc/site/aws/vpc"
  f5xc_api_p12_file               = var.f5xc_api_p12_file
  f5xc_api_url                    = var.f5xc_api_url
  f5xc_namespace                  = "system"
  f5xc_tenant                     = var.f5xc_tenant
  f5xc_aws_region                 = "us-east-2"
  f5xc_aws_cred                   = "ck-aws-01"
  f5xc_aws_vpc_site_name          = format("%s-vpc-multi-node-single-nic-existing-subnet-%s", var.project_prefix, var.project_suffix)
  f5xc_aws_vpc_name_tag           = format("%s-vpc-multi-node-single-nic-existing-subnet-%s", var.project_prefix, var.project_suffix)
  f5xc_aws_vpc_total_worker_nodes = 2
  f5xc_aws_ce_gw_type             = "single_nic"
  f5xc_aws_vpc_existing_id        = module.aws_vpc_single_nic_existing_subnets.aws_vpc["id"]
  f5xc_aws_vpc_az_nodes           = {
    node0 = {
      f5xc_aws_vpc_local_existing_subnet_id = module.aws_subnet_single_nic_existing_subnets.aws_subnets[local.node0_single_nic_local_subnet]["id"],
      f5xc_aws_vpc_az_name                  = "us-east-2a"
    },
    node1 = {
      f5xc_aws_vpc_local_existing_subnet_id = module.aws_subnet_single_nic_existing_subnets.aws_subnets[local.node1_single_nic_local_subnet]["id"],
      f5xc_aws_vpc_az_name                  = "us-east-2a"
    },
    node2 = {
      f5xc_aws_vpc_local_existing_subnet_id = module.aws_subnet_single_nic_existing_subnets.aws_subnets[local.node2_single_nic_local_subnet]["id"],
      f5xc_aws_vpc_az_name                  = "us-east-2a"
    }
  }
  f5xc_aws_default_ce_os_version       = true
  f5xc_aws_default_ce_sw_version       = true
  f5xc_aws_vpc_no_worker_nodes         = false
  f5xc_aws_vpc_use_http_https_port     = true
  f5xc_aws_vpc_use_http_https_port_sli = true
  f5xc_labels                          = { "aws-env" = "shared" }
  public_ssh_key                       = "ssh-rsa xyz"
  custom_tags                          = {
    Owner = "c.klewar@f5.com"
  }
}

module "f5xc_aws_vpc_multi_node_multi_nic_existing_subnet" {
  source                          = "./modules/f5xc/site/aws/vpc"
  f5xc_api_p12_file               = var.f5xc_api_p12_file
  f5xc_api_url                    = var.f5xc_api_url
  f5xc_namespace                  = "system"
  f5xc_tenant                     = var.f5xc_tenant
  f5xc_aws_region                 = "us-east-2"
  f5xc_aws_cred                   = "ck-aws-01"
  f5xc_aws_vpc_site_name          = format("%s-vpc-multi-node-multi-nic-existing-subnet-%s", var.project_prefix, var.project_suffix)
  f5xc_aws_vpc_name_tag           = format("%s-vpc-multi-node-single-nic-existing-subnet-%s", var.project_prefix, var.project_suffix)
  f5xc_aws_vpc_total_worker_nodes = 2
  f5xc_aws_vpc_existing_id        = module.aws_vpc_multi_nic_existing_subnet.aws_vpc["id"]
  f5xc_aws_ce_gw_type             = "multi_nic"
  f5xc_aws_vpc_az_nodes           = {
    node0 = {
      f5xc_aws_vpc_workload_existing_subnet_id = module.aws_subnet_multi_nic_existing_subnet.aws_subnets[local.node0_multi_nic_workload_subnet]["id"],
      f5xc_aws_vpc_inside_existing_subnet_id   = module.aws_subnet_multi_nic_existing_subnet.aws_subnets[local.node0_multi_nic_inside_subnet]["id"],
      f5xc_aws_vpc_outside_existing_subnet_id  = module.aws_subnet_multi_nic_existing_subnet.aws_subnets[local.node0_multi_nic_outside_subnet]["id"],
      f5xc_aws_vpc_az_name                     = "us-east-2a"
    },
    node1 = {
      f5xc_aws_vpc_workload_existing_subnet_id = module.aws_subnet_multi_nic_existing_subnet.aws_subnets[local.node1_multi_nic_workload_subnet]["id"],
      f5xc_aws_vpc_inside_existing_subnet_id   = module.aws_subnet_multi_nic_existing_subnet.aws_subnets[local.node1_multi_nic_inside_subnet]["id"],
      f5xc_aws_vpc_outside_existing_subnet_id  = module.aws_subnet_multi_nic_existing_subnet.aws_subnets[local.node1_multi_nic_outside_subnet]["id"],
      f5xc_aws_vpc_az_name                     = "us-east-2a"
    },
    node2 = {
      f5xc_aws_vpc_workload_existing_subnet_id = module.aws_subnet_multi_nic_existing_subnet.aws_subnets[local.node2_multi_nic_workload_subnet]["id"],
      f5xc_aws_vpc_inside_existing_subnet_id   = module.aws_subnet_multi_nic_existing_subnet.aws_subnets[local.node2_multi_nic_inside_subnet]["id"],
      f5xc_aws_vpc_outside_existing_subnet_id  = module.aws_subnet_multi_nic_existing_subnet.aws_subnets[local.node2_multi_nic_outside_subnet]["id"],
      f5xc_aws_vpc_az_name                     = "us-east-2a"
    }
  }
  f5xc_aws_default_ce_os_version       = true
  f5xc_aws_default_ce_sw_version       = true
  f5xc_aws_vpc_no_worker_nodes         = false
  f5xc_aws_vpc_use_http_https_port     = true
  f5xc_aws_vpc_use_http_https_port_sli = true
  f5xc_labels                          = { "aws-env" = "shared" }
  public_ssh_key                       = "ssh-rsa xyz"
  custom_tags                          = {
    Owner = "c.klewar@f5.com"
  }
}