variable "project_prefix" {
  type        = string
  description = "prefix string put in front of string"
  default     = "f5xc"
}

variable "project_suffix" {
  type        = string
  description = "prefix string put at the end of string"
  default     = "01"
}

variable "f5xc_api_p12_file" {
  type = string
}

variable "f5xc_api_url" {
  type = string
}

variable "f5xc_api_token" {
  type = string
}

variable "f5xc_tenant" {
  type = string
}

variable "f5xc_namespace" {
  type    = string
  default = "system"
}

variable "f5xc_aws_cred" {
  type    = string
  default = "ck-aws-01"
}

variable "owner_tag" {
  type    = string
  default = "c.klewar@f5.com"
}

variable "ssh_public_key_file" {
  type    = string
  default = "/Users/c.klewar/Projects/github.com/cklewar/volterra/f5-xc-cert/keys/key.pub"
}

locals {
  node0_single_nic_local_subnet   = format("%s-snet-node0-snic-inside-%s", var.project_prefix, var.project_suffix)
  node1_single_nic_local_subnet   = format("%s-snet-node1-snic-outside-%s", var.project_prefix, var.project_suffix)
  node2_single_nic_local_subnet   = format("%s-snet-node2-snic-workload-%s", var.project_prefix, var.project_suffix)
  node0_multi_nic_inside_subnet   = format("%s-snet-node0-mnic-inside-%s", var.project_prefix, var.project_suffix)
  node0_multi_nic_outside_subnet  = format("%s-snet-node0-mnic-outside-%s", var.project_prefix, var.project_suffix)
  node0_multi_nic_workload_subnet = format("%s-snet-node0-mnic-workload-%s", var.project_prefix, var.project_suffix)
  node1_multi_nic_inside_subnet   = format("%s-snet-node1-mnic-inside-%s", var.project_prefix, var.project_suffix)
  node1_multi_nic_outside_subnet  = format("%s-snet-node1-mnic-outside-%s", var.project_prefix, var.project_suffix)
  node1_multi_nic_workload_subnet = format("%s-snet-node1-mnic-workload-%s", var.project_prefix, var.project_suffix)
  node2_multi_nic_inside_subnet   = format("%s-snet-node2-mnic-inside-%s", var.project_prefix, var.project_suffix)
  node2_multi_nic_outside_subnet  = format("%s-snet-node2-mnic-outside-%s", var.project_prefix, var.project_suffix)
  node2_multi_nic_workload_subnet = format("%s-snet-node2-mnic-workload-%s", var.project_prefix, var.project_suffix)

  custom_tags = {
    Owner        = var.owner_tag
    f5xc-tenant  = var.f5xc_tenant
    f5xc-feature = "aws-tgw-nfv-bigip"
  }
}

provider "volterra" {
  api_p12_file = var.f5xc_api_p12_file
  url          = var.f5xc_api_url
  alias        = "default"
}

provider "aws" {
  region = "us-east-2"
  alias  = "us-east-2"
}

module "vpc__single_node_single_nic_existing_vpc_existing_subnet" {
  source             = "./modules/aws/vpc"
  aws_az_name        = "us-east-2a"
  aws_region         = "us-east-2"
  aws_vpc_cidr_block = "172.16.36.0/22"
  aws_vpc_name       = format("%s-vpc-snode-snic-exist-vpc-and-snet-%s", var.project_prefix, var.project_suffix)
  custom_tags        = local.custom_tags
  providers          = {
    aws = aws.us-east-2
  }
}

module "vpc__single_node_multi_nic_existing_vpc_existing_subnet" {
  source             = "./modules/aws/vpc"
  aws_az_name        = "us-east-2a"
  aws_region         = "us-east-2"
  aws_vpc_cidr_block = "172.16.40.0/22"
  aws_vpc_name       = format("%s-vpc-snode-mnic-exist-vpc-and-snet-%s", var.project_prefix, var.project_suffix)
  custom_tags        = local.custom_tags
  providers          = {
    aws = aws.us-east-2
  }
}

module "vpc__multi_node_single_nic_existing_vpc_existing_subnet" {
  source             = "./modules/aws/vpc"
  aws_az_name        = "us-east-2a"
  aws_region         = "us-east-2"
  aws_vpc_cidr_block = "172.16.44.0/22"
  aws_vpc_name       = format("%s-vpc-mnode-snic-exist-vpc-and-snet-%s", var.project_prefix, var.project_suffix)
  custom_tags        = local.custom_tags
  providers          = {
    aws = aws.us-east-2
  }
}

module "vpc__multi_node_multi_nic_existing_vpc_existing_subnet" {
  source             = "./modules/aws/vpc"
  aws_az_name        = "us-east-2a"
  aws_region         = "us-east-2"
  aws_vpc_cidr_block = "172.16.48.0/20"
  aws_vpc_name       = format("%s-vpc-mnode-mnic-exist-vpc-and-snet-%s", var.project_prefix, var.project_suffix)
  custom_tags        = local.custom_tags
  providers          = {
    aws = aws.us-east-2
  }
}

module "subnet__single_node_single_nic_existing_vpc_existing_subnet" {
  source          = "./modules/aws/subnet"
  aws_vpc_id      = module.vpc__single_node_single_nic_existing_vpc_existing_subnet.aws_vpc["id"]
  aws_vpc_subnets = [
    {
      name                    = local.node0_single_nic_local_subnet
      map_public_ip_on_launch = false
      cidr_block              = "172.16.36.0/24"
      availability_zone       = "us-east-2a"
      custom_tags             = merge({ SubnetName = local.node0_single_nic_local_subnet }, local.custom_tags)
    }
  ]
  custom_tags = local.custom_tags
  providers   = {
    aws = aws.us-east-2
  }
}

module "subnet__single_node_multi_nic_existing_vpc_existing_subnet" {
  source          = "./modules/aws/subnet"
  aws_vpc_id      = module.vpc__single_node_multi_nic_existing_vpc_existing_subnet.aws_vpc["id"]
  aws_vpc_subnets = [
    {
      name                    = local.node0_multi_nic_inside_subnet
      map_public_ip_on_launch = false
      cidr_block              = "172.16.40.0/24"
      availability_zone       = "us-east-2a"
      custom_tags             = {
        SubnetName        = local.node0_multi_nic_inside_subnet
        ves-io-creator-id = var.owner_tag
      }
    },
    {
      name                    = local.node0_multi_nic_outside_subnet
      map_public_ip_on_launch = false
      cidr_block              = "172.16.41.0/24"
      availability_zone       = "us-east-2a"
      custom_tags             = {
        SubnetName        = local.node0_multi_nic_outside_subnet
        ves-io-creator-id = var.owner_tag
      }
    },
    {
      name                    = local.node0_multi_nic_workload_subnet
      map_public_ip_on_launch = false
      cidr_block              = "172.16.42.0/24"
      availability_zone       = "us-east-2a"
      custom_tags             = {
        SubnetName        = local.node0_multi_nic_workload_subnet
        ves-io-creator-id = var.owner_tag
      }
    }
  ]
  custom_tags = local.custom_tags
  providers   = {
    aws = aws.us-east-2
  }
}

module "subnet__multi_node_single_nic_existing_vpc_existing_subnet" {
  source          = "./modules/aws/subnet"
  aws_vpc_id      = module.vpc__multi_node_single_nic_existing_vpc_existing_subnet.aws_vpc["id"]
  aws_vpc_subnets = [
    {
      name                    = local.node0_single_nic_local_subnet
      map_public_ip_on_launch = false
      cidr_block              = "172.16.44.0/24"
      availability_zone       = "us-east-2a"
      custom_tags             = {
        SubnetName        = local.node0_single_nic_local_subnet
        Owner             = var.owner_tag
        ves-io-creator-id = var.owner_tag
      }
    },
    {
      name                    = local.node1_single_nic_local_subnet
      map_public_ip_on_launch = false
      cidr_block              = "172.16.45.0/24"
      availability_zone       = "us-east-2a"
      custom_tags             = {
        SubnetName        = local.node1_single_nic_local_subnet
        Owner             = var.owner_tag
        ves-io-creator-id = var.owner_tag
      }
    },
    {
      name                    = local.node2_single_nic_local_subnet
      map_public_ip_on_launch = false
      cidr_block              = "172.16.46.0/24"
      availability_zone       = "us-east-2a"
      custom_tags             = {
        SubnetName        = local.node2_single_nic_local_subnet
        Owner             = var.owner_tag
        ves-io-creator-id = var.owner_tag
      }
    }
  ]
  custom_tags = local.custom_tags
  providers   = {
    aws = aws.us-east-2
  }
}

module "subnet__multi_node_multi_nic_existing_vpc_existing_subnet" {
  source          = "./modules/aws/subnet"
  aws_vpc_id      = module.vpc__multi_node_multi_nic_existing_vpc_existing_subnet.aws_vpc["id"]
  aws_vpc_subnets = [
    {
      name                    = local.node0_multi_nic_inside_subnet
      map_public_ip_on_launch = false
      cidr_block              = "172.16.48.0/24"
      availability_zone       = "us-east-2a"
      custom_tags             = {
        SubnetName        = local.node0_multi_nic_inside_subnet
        Owner             = var.owner_tag
        ves-io-creator-id = var.owner_tag
      }
    },
    {
      name                    = local.node0_multi_nic_outside_subnet
      map_public_ip_on_launch = false
      cidr_block              = "172.16.49.0/24"
      availability_zone       = "us-east-2a"
      custom_tags             = {
        SubnetName        = local.node0_multi_nic_outside_subnet
        Owner             = var.owner_tag
        ves-io-creator-id = var.owner_tag
      }
    },
    {
      name                    = local.node0_multi_nic_workload_subnet
      map_public_ip_on_launch = false
      cidr_block              = "172.16.50.0/24"
      availability_zone       = "us-east-2a"
      custom_tags             = {
        SubnetName        = local.node0_multi_nic_workload_subnet
        Owner             = var.owner_tag
        ves-io-creator-id = var.owner_tag
      }
    },
    {
      name                    = local.node1_multi_nic_inside_subnet
      map_public_ip_on_launch = false
      cidr_block              = "172.16.51.0/24"
      availability_zone       = "us-east-2a"
      custom_tags             = {
        SubnetName        = local.node1_multi_nic_inside_subnet
        Owner             = var.owner_tag
        ves-io-creator-id = var.owner_tag
      }
    },
    {
      name                    = local.node1_multi_nic_outside_subnet
      map_public_ip_on_launch = false
      cidr_block              = "172.16.52.0/24"
      availability_zone       = "us-east-2a"
      custom_tags             = {
        SubnetName        = local.node1_multi_nic_outside_subnet
        Owner             = var.owner_tag
        ves-io-creator-id = var.owner_tag
      }
    },
    {
      name                    = local.node1_multi_nic_workload_subnet
      map_public_ip_on_launch = false
      cidr_block              = "172.16.53.0/24"
      availability_zone       = "us-east-2a"
      custom_tags             = {
        SubnetName        = local.node1_multi_nic_workload_subnet
        Owner             = var.owner_tag
        ves-io-creator-id = var.owner_tag
      }
    },
    {
      name                    = local.node2_multi_nic_inside_subnet
      map_public_ip_on_launch = false
      cidr_block              = "172.16.54.0/24"
      availability_zone       = "us-east-2a"
      custom_tags             = {
        SubnetName        = local.node2_multi_nic_inside_subnet
        Owner             = var.owner_tag
        ves-io-creator-id = var.owner_tag
      }
    },
    {
      name                    = local.node2_multi_nic_outside_subnet
      map_public_ip_on_launch = false
      cidr_block              = "172.16.55.0/24"
      availability_zone       = "us-east-2a"
      custom_tags             = {
        SubnetName        = local.node2_multi_nic_outside_subnet
        Owner             = var.owner_tag
        ves-io-creator-id = var.owner_tag
      }
    },
    {
      name                    = local.node2_multi_nic_workload_subnet
      map_public_ip_on_launch = false
      cidr_block              = "172.16.56.0/24"
      availability_zone       = "us-east-2a"
      custom_tags             = {
        SubnetName        = local.node2_multi_nic_workload_subnet
        Owner             = var.owner_tag
        ves-io-creator-id = var.owner_tag
      }
    }
  ]
  custom_tags = local.custom_tags
  providers   = {
    aws = aws.us-east-2
  }
}

module "f5xc_aws_vpc_single_node_single_nic_new_vpc_new_subnet" {
  source                    = "./modules/f5xc/site/aws/vpc"
  f5xc_api_url              = var.f5xc_api_url
  f5xc_api_token            = var.f5xc_api_token
  f5xc_namespace            = var.f5xc_namespace
  f5xc_tenant               = var.f5xc_tenant
  f5xc_aws_region           = "us-east-2"
  f5xc_aws_cred             = var.f5xc_aws_cred
  f5xc_aws_vpc_site_name    = format("%s-vpc-sn-snic-nvpc-and-nsnet-%s", var.project_prefix, var.project_suffix)
  f5xc_aws_vpc_name_tag     = format("%s-vpc-sn-snic-nvpc-and-nsnet-%s", var.project_prefix, var.project_suffix)
  f5xc_aws_vpc_primary_ipv4 = "192.168.168.0/21"
  f5xc_aws_ce_gw_type       = "single_nic"
  f5xc_aws_vpc_az_nodes     = {
    node0 = { f5xc_aws_vpc_local_subnet = "192.168.168.0/26", f5xc_aws_vpc_az_name = "us-east-2a" },
  }
  f5xc_aws_default_ce_os_version       = true
  f5xc_aws_default_ce_sw_version       = true
  f5xc_aws_vpc_no_worker_nodes         = true
  f5xc_aws_vpc_use_http_https_port     = true
  f5xc_aws_vpc_use_http_https_port_sli = true
  f5xc_labels                          = { "aws-env" = "shared" }
  ssh_public_key                       = file(var.ssh_public_key_file)
  custom_tags                          = local.custom_tags
  providers                            = {
    aws      = aws.us-east-2
    volterra = volterra.default
  }
}

module "apply_timeout_workaround" {
  source         = "./modules/utils/timeout"
  depend_on      = module.f5xc_aws_vpc_single_node_single_nic_new_vpc_new_subnet.f5xc_aws_vpc
  create_timeout = "5400s"
}